@page "/corporate-carts"
@using WiiTrakClient.Features.Corporates
@using WiiTrakClient.Features.Corporates.Components

@namespace WiiTrakClient.Features.Corporates


<MudGrid class="my-8">
    <MudItem xs="12" sm="6" md="4">
        <MudSelect T="CorporateDto" Label="Select Corporate" Value="@_selectedCorporate" ValueChanged="(value) => HandleCorporateSelected(value)"
            AnchorOrigin="Origin.BottomCenter">
            @foreach (var corporate in _corporates)
            {
                <MudSelectItem T="CorporateDto" Value="@corporate">@corporate.Name</MudSelectItem>

            }
        </MudSelect>
    </MudItem>
</MudGrid>


<div class="my-8">
    <!-- corporate summary -->

    @if (_report is not null)
    {
        <CorporateReport Report="_report" />
    }

</div>


<div class="my-8">
    <MudGrid>
        <MudItem xs="12" sm="6" md="4">
            <MudSelect T="StoreDto" Label="Select Store" 
                AnchorOrigin="Origin.BottomCenter"  Value="@_selectedStore" ValueChanged="(value) => HandleStoreSelected(value)" >
                @foreach (var store in _stores)
                {
                    if (store.Id == Guid.Empty)
                    {
                        <MudSelectItem T="StoreDto" Value="@store">@store.StoreName</MudSelectItem>
                    }
                    else
                    {
                        <MudSelectItem T="StoreDto" Value="@store">@store.StoreName #@store.StoreNumber</MudSelectItem>
                    }

                }
            </MudSelect>
        </MudItem>
    </MudGrid>
</div>

<div class="my-8">
    <!-- corporate summary -->

    @if (_storeReport is not null)
    {
        <StoreReport Report="_storeReport" />
    }

</div>



<h1>Carts</h1>

<MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined">
    <MudIconButton Icon="@Icons.Material.Filled.Map" OnClick="ShowMapView"></MudIconButton>
    <MudIconButton Icon="@Icons.Material.Filled.List" OnClick="ShowListView"></MudIconButton>
</MudButtonGroup>



<div class="mt-8">
    @switch (_view)

    {

        case ViewOption.Map:
            <CartsMap Stores=@_mapStores Carts=@_filteredCarts></CartsMap>

            break;

        case ViewOption.List:



            // if nothing in filtered carts list, then do default filtering

            if (_filteredCarts.Count() == 0)
            {
                if (_carts is not null)
                {
                    _filteredCarts = _carts.Where(x => x.Status == CartStatus.OutsideGeofence).ToList();
                }
                else
                {
                    _filteredCarts = new List<CartDto>();
                }

            }

            <CartsList Carts="@_filteredCarts"></CartsList>



            break;

        default:
            <CartsMap Stores=@_mapStores Carts=@_filteredCarts></CartsMap>

            break;

    }
</div>
