@namespace WiiTrakClient.Features.Stores.Components
@using WiiTrakClient.Shared.Components

<MudDialog>
    <DialogContent>
        <div style="width: 400px;height:450px;overflow: auto;">
            <MudForm Model="@editDeliveryTicket">
            <MudText Class="my-4" Typo="Typo.h5">Store: @StoreName</MudText>
            <MudText Class="my-4" Typo="Typo.h5">Number of Carts: @deliveryTicketDto.NumberOfCarts</MudText>
            @if(deliveryTicketSummary != null)
            {
               
                <MudText Class="" Typo="Typo.h6">Delivered: @deliveryTicketSummary.Delivered</MudText>
                        
                <MudText Class="" Typo="Typo.h6">Lost: @deliveryTicketSummary.Lost</MudText>
                       
                <MudText Class="" Typo="Typo.h6">Damaged: @deliveryTicketSummary.Damaged</MudText>
                       
                <MudText Class="" Typo="Typo.h6">Trashed: @deliveryTicketSummary.Trashed</MudText>
                       
            }
            <PicUpload OnPicUploadStart="@PicUploadStart" OnPicUploadComplete="@PicUploadComplete" />
            @if (!string.IsNullOrWhiteSpace(_fileUrl)) {
                    <div class="d-flex justify-center mt-6">
                        <img src="@_fileUrl" width="300" height="300" />
                    </div>
                }
                @*<div id="divResize" class="col-lg-6 col-sm-12">
                    <SSignature SignObject="ctlSignature"
                        RefreshImage="/images/clear.png"
                        PenCursor="/images/pen.cur"
                        SignWidth="450"
                        SignHeight="300"
                        PenColor="blue"
                        RequiredPoints="50">
                    </SSignature>
                </div>*@
            </MudForm>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" 
                OnClick="Submit" 
                Disabled="_disableSaveButton">Save</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [Parameter]
    public DeliveryTicketDto? deliveryTicketDto{ get; set; }

    [Parameter]
    public string StoreName { get; set; }

    [Parameter]
    public DeliveryTicketSummaryDto? deliveryTicketSummary{ get; set; }

    [Parameter]
    public DeliveryTicketUpdateDto? editDeliveryTicket { get; set; }

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    private string _fileUrl = "";
    bool _disableSaveButton = false;
    private void PicUploadStart() 
    {
        _disableSaveButton = true;
    }

    private void PicUploadComplete(string url)
    {
        _fileUrl = url;
        _disableSaveButton = false;
        editDeliveryTicket.SignaturePicUrl = _fileUrl;
        editDeliveryTicket.ApprovedByStore = true;
    }

    void Submit()
    {
        MudDialog.Close(DialogResult.Ok(true));
    }

    void Cancel() => MudDialog.Cancel();
}
