@namespace WiiTrakClient.Features.SystemOwner.Components
@using System.ComponentModel.DataAnnotations

 
<MudDialog> 
    <DialogContent>              
        <div style="width: 400px;height:450px;overflow: auto;">
            <MudForm Model="@NewDriver" @ref=form @bind-IsValid="@success" @bind-Errors="@errors">   
                <MudTextField class="my-6" @bind-Value="NewDriver.FirstName" Label="First Name" Required="true" RequiredError="" Variant="Variant.Text"></MudTextField>  
                <MudTextField class="my-6" @bind-Value="NewDriver.LastName" Label="Last Name" Required="true" RequiredError="" Variant="Variant.Text"></MudTextField>  
                <MudTextField class="my-6" @bind-Value="NewDriver.Email" Label="Email" Required="true" RequiredError="" Validation="@(new EmailAddressAttribute() {ErrorMessage = ""})" Variant="Variant.Text"></MudTextField>  
                <MudTextField class="my-6" @bind-Value="NewDriver.Phone" Label="Phone" Required="true" RequiredError="" Validation="@(new PhoneAttribute() {ErrorMessage = ""})" Variant="Variant.Text"></MudTextField>  
                <MudTextField class="my-6" @bind-Value="NewDriver.StreetAddress1" Required="true" RequiredError="" Label="Street Address 1" Variant="Variant.Text"></MudTextField>
                <MudTextField class="my-6" @bind-Value="NewDriver.StreetAddress2" Required="true" RequiredError="" Label="Street Address 2" Variant="Variant.Text"></MudTextField>
                <MudTextField class="my-6" @bind-Value="NewDriver.City" Label="City" Required="true" RequiredError="" Variant="Variant.Text"></MudTextField>
                <MudTextField class="my-6" @bind-Value="NewDriver.State" Label="State" Required="true" RequiredError="" Variant="Variant.Text"></MudTextField>
                <MudTextField class="my-6" @bind-Value="NewDriver.CountryCode" Label="Country Code" Required="true" RequiredError="" Variant="Variant.Text"></MudTextField>
                <MudTextField class="my-6" @bind-Value="NewDriver.PostalCode" Label="Postal Code" Required="true" RequiredError="" Validation="@(new RegularExpressionAttribute(@"^[0-9]+$"){ErrorMessage = ""})" Variant="Variant.Text"></MudTextField>
                <div class="d-flex">
                    <MudButton OnClick="Cancel">Cancel</MudButton>
@*                        <MudButton Variant="Variant.Filled" Color="Color.Secondary" DisableElevation="true" OnClick="@(()=>form.Reset())" Class="mx-2">Reset</MudButton>
*@                  <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!success)" OnClick="Submit" Class="ml-auto">Save</MudButton>
                    </div>
            </MudForm> 
        </div>
    </DialogContent>
    
</MudDialog>

@code {
    [Parameter]
    public DriverCreationDto? NewDriver {get; set;}

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    bool success;
    string[] errors = { };
    MudForm form;
    protected override void OnParametersSet() {
            
    }

    void Submit() 
    { 
        MudDialog.Close(DialogResult.Ok(true)); 
    }
    void Cancel() => MudDialog.Cancel();
}