@namespace WiiTrakClient.Features.SystemOwner.Components
@using System.ComponentModel.DataAnnotations

 <style>
    .validation-message {
    font-size:0;
    display:none;
    font-display:block;
    
    color: red;
}
.mud-input-helper-text.mud-input-error {
    font-size: 0;
}
.mud-input-helper-text {
    color: var(--mud-palette-text-secondary);
    margin: 0;
    font-size: 0;   
}
</style>

<MudDialog>
    <DialogContent>              
        <div style="width: 400px;height:450px;overflow: auto;">
                <MudForm @ref=form Model="@County" @bind-IsValid="@success" @bind-Errors="@errors"> 
                    <DataAnnotationsValidator />
                    <MudTextField T="string" class="my-6" @bind-Value="County.City" Label="City" Required="true" RequiredError=" " For="@(() => @County.City)" Variant="Variant.Text"></MudTextField>  
                    <MudTextField T="string" class="my-6" @bind-Value="County.State" Label="State" Required="true" RequiredError=" " For="@(() => @County.State)" Variant="Variant.Text"></MudTextField>  
                    <MudTextField T="string" class="my-6" @bind-Value="County.ZipCode" Label="Zip Code" Required="true" RequiredError=" " For="@(() => @County.ZipCode)" Variant="Variant.Text"></MudTextField>  
                    <MudTextField T="string" class="my-6" @bind-Value="County.CountyName" Label="County Name" Required="true" RequiredError=" " For="@(() => @County.CountyName)"  Variant="Variant.Text"></MudTextField> 
                    <MudTextField T="string" class="my-6" @bind-Value="County.CountyCode" Label="County Code" For="@(() => @County.CountyCode)"  Variant="Variant.Text"></MudTextField>  
                    <div class="d-flex">
                        <MudButton OnClick="Cancel">Cancel</MudButton>
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Submit" Class="ml-auto">Update</MudButton>
                    </div> 
                </MudForm> 
        </div>    
    </DialogContent>
</MudDialog>
@code {
    [Parameter]
    public CountyCodeDTO? County {get; set;}
    [CascadingParameter] 
    MudDialogInstance MudDialog { get; set; }
    bool success;
    string[] errors = { };
    MudForm form;
    protected override void OnParametersSet() {

    }
    void Submit() 
    { 
        form.Validate();
        if (success && errors.Length == 0)
        {
            MudDialog.Close(DialogResult.Ok(true));
        }
    }
    void Cancel() => MudDialog.Cancel();
}
