@namespace WiiTrakClient.Features.SystemOwner.Components
@using System.ComponentModel.DataAnnotations

<style>
    .validation-message {
        font-size: 0;
        display: none;
        font-display: block;
        color: red;
    }

    .mud-input-helper-text.mud-input-error {
        font-size: 0;
    }

    .mud-input-helper-text {
        color: var(--mud-palette-text-secondary);
        margin: 0;
        font-size: 0;
    }
</style>

<MudDialog>
    <DialogContent>
        <div style="width: 400px;height:450px;overflow: auto;">
            <MudForm Model="@Corporate" @ref=form @bind-IsValid="@success" @bind-Errors="@errors">
                <MudTextField Class="my-6" @bind-Value="Corporate.Name" Label="Corporate Name" Required="true" RequiredError=" " For="@(() => @Corporate.Name)" Variant="Variant.Text"></MudTextField>
                <MudTextField Class="my-6" @bind-Value="Corporate.StreetAddress1" Label="Street Address 1" Required="true" RequiredError=" " For="@(() => @Corporate.StreetAddress1)" Variant="Variant.Text"></MudTextField>
                <MudTextField Class="my-6" @bind-Value="Corporate.StreetAddress2" Label="Street Address 2" For="@(() => @Corporate.StreetAddress2)" Variant="Variant.Text"></MudTextField>
                <MudTextField Class="my-6" @bind-Value="Corporate.City" Label="City" Required="true" RequiredError=" " For="@(() => @Corporate.City)" Variant="Variant.Text"></MudTextField>
                <MudTextField Class="my-6" @bind-Value="Corporate.State" Label="State" Required="true" RequiredError=" " For="@(() => @Corporate.State)" Variant="Variant.Text"></MudTextField>
                <MudTextField Class="my-6" @bind-Value="Corporate.PostalCode" Label="Zip Code" Required="true" RequiredError=" " For="@(() => @Corporate.PostalCode)" Variant="Variant.Text"></MudTextField>
                <MudTextField Class="my-6" @bind-Value="Corporate.Email" Label="Email" Required="true" RequiredError=" " For="@(() => @Corporate.Email)" Variant="Variant.Text"></MudTextField>
                <MudTextField Class="my-6" @bind-Value="Corporate.PhonePrimary" Label="Phone Primary" Required="true" RequiredError=" " For="@(() => @Corporate.PhonePrimary)" Variant="Variant.Text"></MudTextField>
                <MudTextField Class="my-6" @bind-Value="Corporate.PhoneSecondary" Label="Phone Secondary" For="@(() => @Corporate.PhoneSecondary)" Variant="Variant.Text"></MudTextField>
                <div class="d-flex">
                    <MudButton OnClick="Cancel">Cancel</MudButton>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Submit" Class="ml-auto">Update</MudButton>
                </div>
            </MudForm>
        </div>
    </DialogContent>
</MudDialog>

@code {

    [Parameter]
    public CorporateDto? Corporate { get; set; }

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    bool success;
    string[] errors = { };
    MudForm form;
    protected override void OnParametersSet()
    {

    }

    void Submit()
    {
        form.Validate();
        if (success && errors.Length == 0)
        {
            MudDialog.Close(DialogResult.Ok(true));
        }
    }
    void Cancel() => MudDialog.Cancel();
}
