@page "/company-driver-store"
@using WiiTrakClient.Cores
@using WiiTrakClient.Features.Companies.Components

<UserAuthentication />
<div class="my-8">
    <MudGrid class="my-8">
        <MudItem xs="12" sm="6" md="4">
            <MudSelect T="DriverDto" Label="Select Driver" ValueChanged="(value) => HandleDriverSelected(value)"
                       AnchorOrigin="Origin.BottomCenter">
                @foreach (var driver in Drivers)
                {
                    <MudSelectItem T="DriverDto" Value="@driver">@driver.FirstName @driver.LastName</MudSelectItem>
                }
            </MudSelect>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <div style="padding-top:6px">
                <MudForm>
                    <MudRadioGroup @bind-SelectedOption="@SelectedOption">
                        <MudRadio Option="@("All")" Color="Color.Primary">All</MudRadio>
                        <MudRadio Option="@("Assigned")" Color="Color.Primary">Assigned</MudRadio>
                        <MudRadio Option="@("Unassigned")" Color="Color.Primary">Unassigned</MudRadio>
                    </MudRadioGroup>
                </MudForm>
            </div>
        </MudItem>
        @{
            GetStoreDetails();
        }

    </MudGrid>
</div>
@if (driverstore.Count > 0)
{
    <DriverStoreList driverstore="driverstore" />
}
else
{
    <label>No Stores found</label>
}

@code {
    public string SelectedOption { get; set; } = "";
    public string TempSelectedOption { get; set; } = "";
    public List<DriverDto> Drivers { get; set; } = new();

    public List<DriverStoreDetailsDto> driverstore { get; set; } = new();
    public List<DriverStoreDetailsDto> alldriverstore { get; set; } = new();
    public DriverDto _selectedDriver = new();

    [Inject]
    public IDriverStoresHttpRepository DriverStoreRepository { get; set; }

    [Inject]
    public IDriverHttpRepository DriverRepository { get; set; }
    [Inject] IJSRuntime JsRuntime { get; set; }
    private IJSObjectReference JsModule;

    protected override async Task OnInitializedAsync()
    {
        if (CurrentUser.UserId == Guid.Empty)
        {
            JsModule = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./js/localstorage.js");
            var Id = await JsModule.InvokeAsync<string>("getUserId");
            CurrentUser.UserId = new Guid(Id);

        }
        Drivers = await DriverRepository.GetDriversByCompanyIdAsync(CurrentUser.UserId);

    }
    private async Task HandleDriverSelected(DriverDto Driver)
    {
        alldriverstore = await DriverStoreRepository.GetDriverStoresByCompanyIdAsync(CurrentUser.UserId, Driver.Id);
         
        driverstore = alldriverstore;
        foreach (var item in driverstore)
        {
            var county = item.CountyCode;
            var a = 1;
        }
        StateHasChanged();
        Core.SelectedDriverId = Driver.Id;
        SelectedOption = "All";
        GetStoreDetails();
        StateHasChanged();

    }
    public async Task GetStoreDetails()
    {
        if (TempSelectedOption != SelectedOption)
        {
            var value = SelectedOption;
            TempSelectedOption = SelectedOption;
            if (value == "All")
            {
                alldriverstore = await DriverStoreRepository.GetDriverStoresByCompanyIdAsync(CurrentUser.UserId, Core.SelectedDriverId);
                driverstore = alldriverstore;
                StateHasChanged();
            }
            else if (value == "Assigned")
            {
                alldriverstore = await DriverStoreRepository.GetDriverStoresByCompanyIdAsync(CurrentUser.UserId, Core.SelectedDriverId);
                driverstore = alldriverstore.Where(x => x.DriverStoresIsActive == true).ToList();
                StateHasChanged();
            }
            else if (value == "Unassigned")
            {
                alldriverstore = await DriverStoreRepository.GetDriverStoresByCompanyIdAsync(CurrentUser.UserId, Core.SelectedDriverId);
                driverstore = alldriverstore.Where(x => x.DriverStoresIsActive == false).ToList();
                StateHasChanged();
            }
        }
    }
}
