 @namespace WiiTrakClient.Features.Corporates.Components
@using System.ComponentModel.DataAnnotations

 <MudDialog>
    <DialogContent>              
        <div style="width: 400px;height:450px;overflow: auto;">
             <MudForm Model="@Company" @ref=form @bind-IsValid="@success" @bind-Errors="@errors">   
                <MudTextField Class="my-6" @bind-Value="Company.Name"  Label="Name" Required="true" RequiredError="" Variant="Variant.Text"></MudTextField>  
                <MudTextField Class="my-6" @bind-Value="Company.StreetAddress1" Label="Street Address 1" Required="true" RequiredError="" Variant="Variant.Text"></MudTextField>  
                <MudTextField Class="my-6" @bind-Value="Company.StreetAddress2" Label="Street Address 2" Required="true" RequiredError="" Variant="Variant.Text"></MudTextField>  
                <MudTextField Class="my-6" @bind-Value="Company.City" Label="City" Required="true" RequiredError="" Variant="Variant.Text"></MudTextField>  
                <MudTextField Class="my-6" @bind-Value="Company.State" Label="State" Required="true" RequiredError="" Variant="Variant.Text"></MudTextField>  
                <MudTextField Class="my-6" @bind-Value="Company.PostalCode" Label="ZipCode" Required="true" RequiredError="" Validation="@(new RegularExpressionAttribute(@"^[0-9]+$"){ErrorMessage = ""})" Variant="Variant.Text"></MudTextField>  
                <MudTextField Class="my-6" @bind-Value="Company.Email" Required="true" RequiredError="" Validation="@(new EmailAddressAttribute() {ErrorMessage = ""})" Label="Email" Variant="Variant.Text"></MudTextField>  
                <MudTextField Class="my-6" @bind-Value="Company.PhonePrimary" Label="Phone" Required="true" RequiredError="" Validation="@(new PhoneAttribute() {ErrorMessage = ""})" Variant="Variant.Text"></MudTextField>
                <MudCheckBox @bind-Checked="Company.CannotHaveChildren" Label="Do Not Allow Sub Companies" Color="Color.Primary"></MudCheckBox> 
                <div class="d-flex">
                    <MudButton OnClick="Cancel">Cancel</MudButton>
@*                  <MudButton Variant="Variant.Filled" Color="Color.Secondary" DisableElevation="true" OnClick="@(()=>form.Reset())" Class="mx-2">Reset</MudButton>
*@                  <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!success)" OnClick="Submit" Class="ml-auto">Update</MudButton>
                    </div>
            </MudForm>
        </div>
    </DialogContent>
    @*<DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">Save</MudButton>
        @if (formInvalid)
                {
                    <MudButton OnClick="Cancel">Cancel</MudButton>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" OnClick="Submit" Disabled=true Class="ml-auto">Update</MudButton>
                }
                else
                {
                    <MudButton OnClick="Cancel">Cancel</MudButton>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" OnClick="Submit" Class="ml-auto">Update</MudButton>
                }   
    </DialogActions>*@
</MudDialog>


@code {
    [Parameter]
    public CompanyDto? Company {get; set;}
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    //private bool formInvalid = false;
    bool success;
    string[] errors = { };
    MudForm form;
    protected override void OnParametersSet() {
            
    }

    void Submit() 
    { 
        //formInvalid = false;
        MudDialog.Close(DialogResult.Ok(true)); 
    }
    void Cancel() => MudDialog.Cancel();
}