@namespace WiiTrakClient.Features.Technicians.Components
@using System.ComponentModel.DataAnnotations

<style>
    .validation-message {
    font-size:0;
    display:none;
    font-display:block;
    color: red;
}
.mud-input-helper-text.mud-input-error {
    font-size: 0;
}
.mud-input-helper-text {
    color: var(--mud-palette-text-secondary);
    margin: 0;
    font-size: 0;
}
</style> 

<MudDialog>
    <DialogContent>              
        <div style="width: 400px;height:450px;overflow-y: auto; overflow-x: hidden;">
                <MudForm @ref=form Model="@NewSim" @bind-IsValid="@success" @bind-Errors="@errors">  
                    <DataAnnotationsValidator />
                        <MudTextField T="string" class="my-6" @bind-Value="NewSim.TelecomCompany" Label="Telecom Company" Required="true" RequiredError=" " For="@(() => @NewSim.TelecomCompany)" Variant="Variant.Text"></MudTextField>  
                        <MudTextField T="string" class="my-6" @bind-Value="NewSim.PhoneNumber" Label="Phone Number" Required="true" RequiredError=" " For="@(() => @NewSim.PhoneNumber)" Variant="Variant.Text"></MudTextField>  
                        <MudTextField T="string" class="my-6" @bind-Value="NewSim.PlanName" Label="Plan Name" Required="true" RequiredError=" " For="@(() => @NewSim.PlanName)" Variant="Variant.Text"></MudTextField> 
                        <MudDatePicker class="my-6" Label="Plan Activation Date" Editable="true" @bind-Date="NewSim.PlanActivationDate" Required=true  For="@(() => @NewSim.PlanActivationDate)"/>
                        <MudDatePicker class="my-6" Label="Plan End Date" Editable="true" @bind-Date="NewSim.PlanEndDate" Required=true  For="@(() => @NewSim.PlanEndDate)"/>
                        <MudTextField T="string" class="my-6" @bind-Value="NewSim.SIMNo" Label="SIM Number" Required="true" RequiredError=" " For="@(() => @NewSim.SIMNo)" Variant="Variant.Text"></MudTextField>  
                        <MudTextField T="string" class="my-6" @bind-Value="NewSim.IMSI" Label="IMSI" Required="true" RequiredError=" " For="@(() => @NewSim.IMSI)" Variant="Variant.Text"></MudTextField>  
                        <div class="d-flex">
                            <MudButton OnClick="Cancel">Cancel</MudButton>
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Submit" Class="ml-auto">Save</MudButton>
                        </div>
                        <br />
                </MudForm>
        </div>
    </DialogContent>
</MudDialog>

@code {
    [Parameter]
    public SimCardsDto? NewSim {get; set;}
    [CascadingParameter] 
    MudDialogInstance MudDialog { get; set; }
    bool success;
    string[] errors = { };
    MudForm form;
    protected override void OnParametersSet()
    {
        
    }
    void Submit() 
    {
        form.Validate();
        if (success && errors.Length == 0)
        {
            MudDialog.Close(DialogResult.Ok(true));
        }
    }
    void Cancel() => MudDialog.Cancel();

}
