@namespace WiiTrakClient.Features.Drivers.Components
@using System.ComponentModel.DataAnnotations
@using WiiTrakClient.Shared.Components
@using WiiTrakClient.Cores


<style>
    .validation-message {
        font-size: 0;
        display: none;
        font-display: block;
        color: red;
    }

    .mud-input-helper-text.mud-input-error {
        font-size: 0;
    }

    .mud-input-helper-text {
        color: var(--mud-palette-text-secondary);
        margin: 0;
        font-size: 0;
    }
</style>
<UserAuthentication />
<MudDialog>
    <DialogContent>
        <div style="width: 400px;height:450px;overflow: auto;">
            <MudForm Model="@NewDeliveryTicket" @ref=form @bind-IsValid="@success" @bind-Errors="@errors">
                <DataAnnotationsValidator />
                <div Class="Mudsearchselect mt-6">
                    <label id="targetlabel">Store*</label>
                    <input type="text" list="textsearch" Class="inputselect" @onkeyup="OnClick" @onchange="eventArgs => { OnSelect(eventArgs.Value); }" />

                    <datalist id="textsearch">
                        @foreach (var store in Stores)
                        {
                            <option id="@store.Id" data-value="@store.Id" value="@store.StoreName - @store.StoreNumber" />
                        }
                    </datalist>
                </div>


                @* <MudSelect Class="my-6" T="StoreDto" Label="Store" AnchorOrigin="Origin.BottomCenter"
                    HelperText="Select a Store" @bind-Value="@SelectedStore" Required="true"
                    AdornmentColor="Color.Primary">



                    @foreach (var store in Stores)
                    {
                    <MudSelectItem T="StoreDto" Value="@store">@store.StoreName - @store.StoreNumber</MudSelectItem>
                    }
                    </MudSelect>
                *@

                @{
                    //UpdateNumberOfCarts();
                    UpdateStoreAndServiceProviderIds();
                }

                @*<MudText Class="my-4" Typo="Typo.h5">No of available carts to pickup: @NoOfCartsToPickUp</MudText>*@
                <MudTextField @bind-Value="@NewDeliveryTicket.NumberOfCarts" Label="No of Carts" Required="true" RequiredError=" " For="@(() => @NewDeliveryTicket.NumberOfCarts)" Variant="Variant.Text"></MudTextField>

                @*<ValidationMessage For="@(() => @NewDeliveryTicket.NumberOfCarts)" />*@
                <PicUpload OnPicUploadStart="@PicUploadStart" OnPicUploadComplete="@PicUploadComplete" />
                @*                    <ValidationMessage For="@(() => @NewDeliveryTicket.PicUrl)" />
                    @*<CaptureImage OnPicUploadStart="@PicUploadStart" OnPicUploadComplete="@PicUploadComplete"/>
                    <ValidationMessage For="@(() => @NewDeliveryTicket.PicUrl)" />*@
                @if (NewDeliveryTicket.NumberOfCarts >= 0)
                {
                    success = true;
                }
                @if (!string.IsNullOrWhiteSpace(_fileUrl))
                {
                    <div class="d-flex justify-start mt-6 popupitemimage">
                        <img src="@_fileUrl" width="300" height="300" />
                    </div>
                }
                @if (success == true && picupload == true && IsStoreSelected)
                {
                    formvalid = true;
                }
                else
                {
                    @*<ValidationMessage For="@(() => @NewDeliveryTicket.NumberOfCarts)" />*@
                    formvalid = false;
                }


            </MudForm>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary"
                   OnClick="Submit"
                   Disabled="@(!formvalid)">Save</MudButton>
    </DialogActions>
</MudDialog>

@code {

    [Parameter]
    public DeliveryTicketCreationDto? NewDeliveryTicket { get; set; }

    public int NoOfCarts;

    [Parameter]
    public DriverDto? Driver { get; set; }

    [Parameter]
    public List<CartDto>? Carts { get; set; } = new();

    [Parameter]
    public List<StoreDto>? Stores { get; set; } = new();
    [Parameter]
    public double Latitude { get; set; }
    [Parameter]
    public double Longitude { get; set; }


    [Inject] IJSRuntime JsRuntime { get; set; }

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    bool success;
    bool picupload;
    bool formvalid;
    bool IsStoreSelected = false;
    string[] errors = { };
    MudForm form;

    public List<StoreDto>? TempStores { get; set; } = new();
    StoreDto SelectedStore = new();
    StoreDto selectedStore = new();

    private string _fileUrl = "";
    private int NoOfCartsToPickUp = 0;
    private string StoreName = "";
    private IJSObjectReference JsModule;



    protected override async Task OnInitializedAsync()
    {
        JsModule = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./js/localstorage.js");
        try
        {
            await JsModule.InvokeVoidAsync("getCoord", false);
            var coords = await JsModule.InvokeAsync<string>("getCoordinates");
            var lat = coords.Split("##")[0];
            var Lon = coords.Split("##")[1];
            Latitude = Core.ToDouble(lat);
            Longitude = Core.ToDouble(Lon);
            await JsModule.InvokeVoidAsync("ClearCoord");
        }
        catch (Exception ex)
        {
            await JsModule.InvokeVoidAsync("ClearCoord");
        }
        if (Stores != null && Stores.Count() >= 1)
        {
            foreach (var item in Stores)
            {
                var distance = Getdistance(item.Latitude, item.Longitude);
                item.Distance = Convert.ToInt32(Math.Ceiling(distance));
            }
            TempStores = Stores;
            FilterStore();
        }
        if (Stores != null && Stores.Count() >= 1)
        {
            FilterStore();
            Stores = Stores.OrderBy(o => o.StoreName).ThenBy(p => p.StoreNumber).ToList();
            SelectedStore = Stores[0];

        }

        NewDeliveryTicket.DriverId = Driver.Id;
    }

    #region Get Distance
    private double Getdistance(double lat2, double lon2, char unit = 'K')
    {
        double lat1 = Latitude;
        double lon1 = Longitude;

        if ((lat1 == lat2) && (lon1 == lon2))
        {
            return 0;
        }
        else
        {
            double theta = lon1 - lon2;
            double dist = Math.Sin(deg2rad(lat1)) * Math.Sin(deg2rad(lat2)) + Math.Cos(deg2rad(lat1)) * Math.Cos(deg2rad(lat2)) * Math.Cos(deg2rad(theta));
            dist = Math.Acos(dist);
            dist = rad2deg(dist);
            dist = dist * 60 * 1.1515;
            if (unit == 'K')
            {
                dist = dist * 1.609344;
            }
            else if (unit == 'N')
            {
                dist = dist * 0.8684;
            }
            return (dist);
        }
    }

    private double deg2rad(double deg)
    {
        return (deg * Math.PI / 180.0);
    }

    private double rad2deg(double rad)
    {
        return (rad / Math.PI * 180.0);
    }
    #endregion

    protected override void OnParametersSet()
    {


    }
    private void FilterStore()
    {
        Stores = Stores.Where(x => x.Distance < 5).ToList();
        if (Stores.Count == 0)
        {
            Stores = TempStores;
        }
    }
    private void UpdateNumberOfCarts()
    {
        NoOfCartsToPickUp = Carts.Count(x => x.StoreId == SelectedStore.Id && x.Status == CartStatus.PickedUp);
    }

    private void UpdateStoreAndServiceProviderIds()
    {
        NewDeliveryTicket.StoreId = SelectedStore.Id;
        var store = Stores.First(x => x.Id == SelectedStore.Id);
        NewDeliveryTicket.ServiceProviderId = store.ServiceProviderId;
    }

    private void PicUploadStart()
    {
        picupload = false;
    }

    private void PicUploadComplete(string url)
    {
        _fileUrl = url;
        picupload = true;
        NewDeliveryTicket.PicUrl = _fileUrl;
        StateHasChanged();
    }

    private async Task OnClick()
    {
        JsModule = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./js/localstorage.js");

        var inputtext = await JsModule.InvokeAsync<string>("getTextBoxValue");
        if (inputtext == "")
        {
            IsStoreSelected = false;
            await JsModule.InvokeVoidAsync("addValidationClass");
            StateHasChanged();
        }
        else
        {
            IsStoreSelected = true;
            await JsModule.InvokeVoidAsync("removeValidationClass");
            StateHasChanged();
        }
    }
    private async Task OnSelect(object e)
    {
        try
        {
            if (e.ToString() == "")
            {
                IsStoreSelected = false;
                return;
            }
            JsModule = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./js/localstorage.js");

            var Id = await JsModule.InvokeAsync<string>("getStoreId", e.ToString());
            NewDeliveryTicket.StoreId = new Guid(Id);
            SelectedStore = Stores.AsEnumerable().FirstOrDefault(x => x.Id == NewDeliveryTicket.StoreId);
            StoreName = SelectedStore.StoreName;
            IsStoreSelected = true;
        }
        catch (Exception ex)
        {
            IsStoreSelected = false;
        }
    }

    void Submit()
    {
        MudDialog.Close(DialogResult.Ok(true));
    }

    void Cancel() => MudDialog.Cancel();
}