@namespace WiiTrakClient.Features.Drivers.Components
@using WiiTrakClient.Shared.Components
@using System.Net.Http.Headers
@using System.Net.Mime
@using System.Text

<style>
    .validation-message {
        font-size: 0;
        display: none;
        font-display: block;
        color: red;
    }

    .mud-input-helper-text.mud-input-error {
        font-size: 0;
    }

    .mud-input-helper-text {
        color: var(--mud-palette-text-secondary);
        margin: 0;
        font-size: 0;
    }

    .mud-form img {
        height: 140px !important;
    }
</style>

<MudDialog>
    <DialogContent>
        <div style="width: 400px;height:450px;overflow: auto;">
            <MudForm Model="@editDeliveryTicket" @ref=form @bind-IsValid="@success" @bind-Errors="@errors">
                @* <MudText Class="my-4" Typo="Typo.h5">Store: @StoreName</MudText>
                    <MudText Class="my-4" Typo="Typo.h5">Number of Carts: @deliveryTicketDto.NumberOfCarts </MudText>*@
                <MudTextField @bind-Value="@editDeliveryTicket.Signee" Label="Signee Name" Required="true" RequiredError="" For="@(() => @editDeliveryTicket.Signee)" Variant="Variant.Text"></MudTextField>
                @*@if(deliveryTicketSummary != null)
                    {

                    <MudText Class="" Typo="Typo.h6">Delivered: @deliveryTicketSummary.Delivered</MudText>

                    <MudText Class="" Typo="Typo.h6">Lost: @deliveryTicketSummary.Lost</MudText>

                    <MudText Class="" Typo="Typo.h6">Damaged: @deliveryTicketSummary.Damaged</MudText>

                    <MudText Class="" Typo="Typo.h6">Trashed: @deliveryTicketSummary.Trashed</MudText>

                    }*@
                @* @if(cartsTable != null)
                    {
                    <CartsTable Carts="@cartsTable"></CartsTable>
                    }*@
                @if (!string.IsNullOrWhiteSpace(_picUrl))
                {
                    <div class="d-flex justify-center mt-6 popupitemimage">
                        <img src="@_picUrl" width="270" height="270" />
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(_fileUrl))
                {
                    <MudText Class="" Typo="Typo.h5">Signature:</MudText>
                    <div class="d-flex justify-center mt-6 popupitemimage">
                        <img src="@_fileUrl" width="150" height="150" />
                    </div>
                }
                else
                {
                    @if (!_isSigned)
                    {
                        <div id="divResize" class="">
                            <SSignature SignObject="ctlSignature"
                                RefreshImage="/images/clear.png"
                                PenCursor="/images/pen.cur"
                                SignWidth="450"
                                SignHeight="75"
                                PenColor="blue"
                                RequiredPoints="50">
                            </SSignature>
                        </div>
                        GetSignatureStatus();
                    }
                }
                @if (!_isSigned)
                {
                    @* <MudButton Variant="Variant.Filled" Color="Color.Primary"
                        OnClick="SaveSignature">
                        Accept Signature
                        </MudButton>*@
                }
                else
                {
                    @*<MudText Typo="Typo.h5" Class="text-success">Signature Complete</MudText>*@
                    <div Id="SuccessMessage" Class="text-success"><h5>Signature Complete</h5></div>

                }


            </MudForm>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary"
                   OnClick="Submit">Save</MudButton>
    </DialogActions>
</MudDialog>

@code {

    [Parameter]
    public DeliveryTicketDto? deliveryTicketDto { get; set; }

    [Parameter]
    public string StoreName { get; set; }


    [Parameter]
    public DeliveryTicketSummaryDto? deliveryTicketSummary { get; set; }

    [Parameter]
    public DeliveryTicketUpdateDto? editDeliveryTicket { get; set; }

    [Parameter]
    public List<CartDto>? cartsTable { get; set; }

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    bool success;
    string[] errors = { };
    MudForm form;
    [Inject]
    protected IPicUploadHttpRepository PicUploadHttpRepository { get; set; }
    [Inject]
    IJSRuntime JsRuntime { get; set; }

    private string _fileUrl = "";
    private string _picUrl = "";
    private string _imageData = "";
    bool IsSigned = false;
    bool _isSigned = false;
    string SignatureStatus = string.Empty;

    private IJSObjectReference JsModule;

    protected override async Task OnInitializedAsync()
    {
        await SetCanvasHeight();
    }
    protected override Task OnParametersSetAsync()
    {
        _picUrl = editDeliveryTicket.PicUrl;
        success = false;
        return base.OnParametersSetAsync();
    }

    private async Task SaveSignature()
    {
        await GetSignatureStatus();
        if (!SignatureStatus.ToLower().Contains("done"))
        {
            await JsRuntime.InvokeVoidAsync("alert", "Valid Signature Required.");
            return;
        }
        if (editDeliveryTicket.Signee == "")
        {
            //await _js.InvokeVoidAsync("alert", "Valid Signee Name Required.");
            return;
        }
        var dotNetObjectRef = DotNetObjectReference.Create(this);
        await JsRuntime.InvokeAsync<string>("saveSignatureAsync", dotNetObjectRef);
        IsSigned = true;
        StateHasChanged();
    }
    private async Task SetCanvasHeight()
    {
        if (JsModule is null)
        {
            JsModule = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./js/localstorage.js");
        }
        await JsModule.InvokeVoidAsync("updateCanvas");
    }
    [JSInvokable]
    public async Task SaveSignatureAsync(string imageData)
    {
        _imageData = imageData;
        var imageDataStripped = imageData.Replace("data:image/png;base64,", "");
        var imageByteArray = Convert.FromBase64String(imageDataStripped);

        await using var memoryStream = new MemoryStream(imageByteArray);

        var content = new MultipartFormDataContent();
        content.Headers.ContentDisposition = new ContentDispositionHeaderValue("form-data");
        var streamContent = new StreamContent(memoryStream, Convert.ToInt32(memoryStream.Length));
        streamContent.Headers.ContentType = new MediaTypeHeaderValue("image/png");
        content.Add(streamContent, "file", "signature.png");
        _fileUrl = await PicUploadHttpRepository.UploadSignature(content);
        editDeliveryTicket.SignaturePicUrl = _fileUrl;
        editDeliveryTicket.ApprovedByStore = true;
        editDeliveryTicket.SignOffRequired = true;
        success = true;
        _isSigned = true;
        StateHasChanged();
    }

    private async Task GetSignatureStatus()
    {
        if (!SignatureStatus.ToLower().Contains("done"))
        {
            JsModule = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./js/localstorage.js");
            var status = await JsModule.InvokeAsync<string>("GetSignatureStatus");
            if (status.ToLower().Contains("done") && !_isSigned)
            {
                SignatureStatus = status;
                StateHasChanged();
            }
        }

    }
    async Task Submit()
    {
        await SaveSignature();
        var SignCompleteStatus = "";
        do
        {
            JsModule = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./js/localstorage.js");
            SignCompleteStatus = await JsModule.InvokeAsync<string>("getSignCompleteStatus");
        } while (!SignCompleteStatus.ToLower().Contains("complete"));

        if (SignCompleteStatus.ToLower().Contains("complete"))
        {
            System.Threading.Thread.Sleep(500);
            MudDialog.Close(DialogResult.Ok(true));
        }
    }

    void Cancel() => MudDialog.Cancel();
}
