<MudDialog>


    <DialogContent>
        <div style="width: 350px;height:450px;overflow: auto;">
            <div class="mb-6">
                <img src="@Cart.PicUrl" class="center" width="100px" height="100px" />
            </div>
            <MudForm Model="@Cart">
                <MudSelect class="my-6" T="int" Label="Status" AnchorOrigin="Origin.BottomCenter"
                    @bind-Value="@_selectedStatusInt">
                    <MudSelectItem Value="0">Delivered</MudSelectItem>
                    <MudSelectItem Value="1">Needs Pick Up</MudSelectItem>
                    <MudSelectItem Value="2">Picked Up</MudSelectItem>
                    <MudSelectItem Value="3">Lost</MudSelectItem>
                </MudSelect>

                <MudSelect class="my-6" T="int" Label="Condition" AnchorOrigin="Origin.BottomCenter"
                    @bind-Value="@_seletedConditionInt">
                    <MudSelectItem Value="0">Good</MudSelectItem>
                    <MudSelectItem Value="1">Damaged</MudSelectItem>
                    <MudSelectItem Value="2">Damaged Beyond Repair</MudSelectItem>
                </MudSelect>

                @if (_seletedConditionInt == 1 && RepairIssues is not null)
                {                   
                        <MudSelect Class="my-6" T="string" Label="Damage Issue" AnchorOrigin="Origin.BottomCenter"
                        HelperText="Select a damage issue" @bind-Value="@_seletedIssue" Required="true"AdornmentColor="Color.Error">

                            @foreach (var issue in RepairIssues)
                            {
                                <MudSelectItem T="string" Value="@issue.Issue">@issue.Issue</MudSelectItem>
                            }

                        </MudSelect>  
                }

                @if (_seletedIssue.Equals("Other"))
                {
                    <MudTextField T="string" Label="Other" Variant="Variant.Text" Text="@_otherText" Lines="5" Required="true" AutoFocus="true" />
                }
            </MudForm>
        </div>

    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">Save</MudButton>
    </DialogActions>
</MudDialog>
