@namespace WiiTrakClient.Features.Companies.Components
@using System.ComponentModel.DataAnnotations

<style>
    .validation-message {
    font-size:0;
    display:none;
    font-display:block;
    color: red;
}
.mud-input-helper-text.mud-input-error {
    font-size: 0;
}
.mud-input-helper-text {
    color: var(--mud-palette-text-secondary);
    margin: 0;
    font-size: 0;
}
</style> 

<MudDialog>
    <DialogContent>              
        <div style="width: 400px;height:450px;overflow: auto;">
                <MudForm @ref=form Model="@NewCorporate" @bind-IsValid="@success" @bind-Errors="@errors">  
                    <DataAnnotationsValidator />
                    <MudTextField T="string" class="my-6" @bind-Value="NewCorporate.Name" Label="Corporate Name" Required="true" RequiredError=" " For="@(() => @NewCorporate.Name)" Variant="Variant.Text"></MudTextField>  
                    <MudTextField T="string" class="my-6" @bind-Value="NewCorporate.StreetAddress1" Label="Street Address 1" Required="true" RequiredError=" " For="@(() => @NewCorporate.StreetAddress1)" Variant="Variant.Text"></MudTextField>  
                    <MudTextField T="string" class="my-6" @bind-Value="NewCorporate.StreetAddress2" Label="Street Address 2" For="@(() => @NewCorporate.StreetAddress2)" Variant="Variant.Text"></MudTextField>  
                    <MudTextField T="string" class="my-6" @bind-Value="NewCorporate.City" Label="City" Required="true" RequiredError=" " For="@(() => @NewCorporate.City)" Variant="Variant.Text"></MudTextField>  
                    <MudTextField T="string" class="my-6" @bind-Value="NewCorporate.State" Label="State" Required="true" RequiredError=" " For="@(() => @NewCorporate.State)" Variant="Variant.Text"></MudTextField>  
                    <MudTextField T="string" class="my-6" @bind-Value="NewCorporate.PostalCode" Label="Zip Code" Required="true" RequiredError=" " For="@(() => @NewCorporate.PostalCode)" Variant="Variant.Text"></MudTextField>  
                    <MudTextField T="string" class="my-6" @bind-Value="NewCorporate.Email" Label="Email" Required="true" RequiredError=" " For="@(() => @NewCorporate.Email)" Variant="Variant.Text"></MudTextField>
                    <MudTextField T="string" class="my-6" @bind-Value="NewCorporate.PhonePrimary" Label="Phone Primary" Required="true" RequiredError=" " For="@(() => @NewCorporate.PhonePrimary)"  Variant="Variant.Text"></MudTextField>
                    <MudTextField T="string" class="my-6" @bind-Value="NewCorporate.PhoneSecondary" Label="Phone Secondary" For="@(() => @NewCorporate.PhoneSecondary)"  Variant="Variant.Text"></MudTextField>  
                    <div class="d-flex">
                        <MudButton OnClick="Cancel">Cancel</MudButton>
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Submit" Class="ml-auto">Save</MudButton>
                    </div>
                </MudForm> 
        </div>
    </DialogContent>
</MudDialog>

@code {

    [Parameter]
    public CorporateDto? NewCorporate {get; set;}

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    bool success;
    string[] errors = { };
    MudForm form;

    protected override void OnParametersSet() {

    }
    void Submit() 
    {
        form.Validate();
        if (success && errors.Length == 0)
        {
            MudDialog.Close(DialogResult.Ok(true));
        }
    }
    void Cancel() => MudDialog.Cancel();

}
