@page "/index"
@using WiiTrakClient.Services
@using WiiTrakClient.Cores

<UserAuthentication/>
<PageTitle>WiiTrak</PageTitle>
<h2>Welcome to WiiTrak</h2>
@*<MudGrid class="my-8">
    <MudItem xs="12" sm="6" md="4">
        <MudSelect T="string" Label="Select User View" Value=@_selectedUserView ValueChanged="(value) => HandleStoreSelected(value)" AnchorOrigin="Origin.BottomCenter">
            <MudSelectItem Value="@("All")" />
            <MudSelectItem Value="@("WiiTrak")" />
            <MudSelectItem Value="@("Corporate")" />
            <MudSelectItem Value="@("PrimeCompany")" />
            <MudSelectItem Value="@("SubContractor")" />
            <MudSelectItem Value="@("Driver")" />
            <MudSelectItem Value="@("Store")" />
            <MudSelectItem Value="@("ServiceProvider")" />
            <MudSelectItem Value="@("Technician")" />
        </MudSelect>
    </MudItem>
</MudGrid>
*@



@code{
   
}

