@page "/change-password"
@using WiiTrakClient.Cores
@using WiiTrakClient.HttpRepository
@using WiiTrakClient.Shared.Components
@inject NavigationManager NavManager
@inject ILoginHttpRepository LoginHttpRepository
@inject IDialogService DialogService
@inject IJSRuntime JSRuntime
<UserAuthentication></UserAuthentication>

<style>
    .validation-message {
        font-size: 0;
        display: none;
        font-display: block;
        color: red;
    }

    .mud-input-helper-text.mud-input-error {
        font-size: 0;
    }

    .mud-input-helper-text {
        color: var(--mud-palette-text-secondary);
        margin: 0;
        font-size: 0;
    }
</style>

<h3></h3>
<MudCard Outlined="true" Class="pa-5">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h4">Change Password</MudText>
        </CardHeaderContent>

    </MudCardHeader>
    <MudCardContent>
        <EditForm Model="@changePassword">
            <DataAnnotationsValidator />
            <MudTextField InputType="InputType.Password" @bind-Value="@changePassword.Password" For="@(() => changePassword.Password)" Required="true" RequiredError=" " Label="Current Password" Variant="Variant.Outlined"></MudTextField>
            <MudTextField InputType="InputType.Password" @bind-Value="@changePassword.NewPassword" For="@(() => changePassword.NewPassword)" Required="true" RequiredError=" " Label="New Password" Variant="Variant.Outlined"></MudTextField>
            <MudTextField InputType="InputType.Password" @bind-Value="@changePassword.ConfirmNewPassword" For="@(() => changePassword.ConfirmNewPassword)" Required="true" RequiredError=" " Label="Confirm Password" Variant="Variant.Outlined"></MudTextField>
            <br />
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" OnClick=OnSubmit>Update Password</MudButton>
        </EditForm>
    </MudCardContent>
</MudCard>

@code {
    private ResetPasswordDto reset = new ResetPasswordDto();
    private ChangePasswordDto changePassword = new ChangePasswordDto();
    private string SuccessMessage { get; set; } = "";
    private string ErrorMessage { get; set; } = "";
    private IJSObjectReference JsModule;

    protected override async Task OnInitializedAsync()
    {
        JsModule = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./js/localstorage.js");
    }

    private async void OnSubmit()
    {
        SuccessMessage = "";
        ErrorMessage = "";
        bool IsPasswordUpdated = false;
        try
        {
            var CurrentPassword = Core.Base64Encrypt(changePassword.Password);

            if (CurrentUser.Password == null)
            {
                if (JsModule is null)
                {
                    JsModule = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./js/localstorage.js");
                }

                CurrentUser.Password = await JsModule.InvokeAsync<string>("getUserPassword");

            }
            if (CurrentUser.Password == CurrentPassword)
            {
                if (changePassword.Password != changePassword.NewPassword)
                {
                    if (changePassword.NewPassword == changePassword.ConfirmNewPassword)
                    {
                        reset.NewPassword = reset.ConfirmPassword = Core.Base64Encrypt(changePassword.NewPassword);
                        await LoginHttpRepository.UpdatePasswordAsync(CurrentUser.UserId, reset);
                        SuccessMessage = "New Password Updated Successfully.";
                        IsPasswordUpdated = true;
                    }
                    else
                    {
                        ErrorMessage = "New Password And Confirm Password Should Be Same";
                    }

                }
                else
                {
                    ErrorMessage = "Current Password And New Password Should Not Be Same";
                }
            }
            else
            {
                ErrorMessage = "Current Password Not Matched";
            }

            #region Show Message Dialog
            var parameters = new DialogParameters();
            parameters.Add("DisplayMessage", IsPasswordUpdated ? SuccessMessage : ErrorMessage);
            parameters.Add("FromWindow", "ChangePassword");
            parameters.Add("IsSuccessNotification", IsPasswordUpdated ? true : false);

            DialogOptions options = new DialogOptions() { MaxWidth = MaxWidth.Large };

            var dialog = DialogService.Show<ShowMessageDialog>("Notification", parameters);
            var result = await dialog.Result;
            if (IsPasswordUpdated)
            {
                CurrentUser.Password = Core.Base64Encrypt(changePassword.NewPassword);
                await JsModule.InvokeVoidAsync("saveUserPassword", CurrentUser.Password);
            }
            changePassword = new();
            StateHasChanged();
            #endregion
        }
        catch (Exception ex)
        {

        }
    }
}
