@page "/notify"

@using WiiTrakClient.Cores
@inject INotificationHttpRepository NotifyHttpRepository

<UserAuthentication />
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        .store-details {
            font-weight: bold;
            font-size: 1.1em;
            margin-right: 4px;
        }

        .material-icons {
            font-size: 1.5em;
            position: relative;
            top: 5px;
            margin-right: 0.5em;
        }

        .message-text {
            max-width: calc(100% - 30px);
            padding-top: 5px;
            font-size: 1.1em;
        }
    </style>
</head>
<body>

    @if (Core.NotificationCount > 0)
    {
        <MudBadge Content="@Core.NotificationCount" Overlap="true" Class="mx-6 my-4" Color="Color.Error">
            <p style="font-size:22px">Notifications <MudIcon Icon="@Icons.Filled.Notifications" /></p>
        </MudBadge>
    }
    else
    {
        <MudBadge Content="@Core.NotificationCount" Overlap="true" Class="mx-6 my-4 Count0" Color="Color.Error">
            <p style="font-size:22px">Notifications <MudIcon Icon="@Icons.Filled.Notifications" /></p>
        </MudBadge>
    }
    <div class="container">

        <div>
            @if (Core.NotificationsList.Count > 0)
            {
                foreach (var notification in Core.NotificationsList)
                {
                    if (notification.Message.ToLower().Contains("$$unassign$$"))
                    {
                        var Message = notification.Message.Replace("$$UnAssign$$", "");
                        var msgtext = Message.Split("##");
                        <div class="alert card amber lighten-4 brown-text">
                            <div class="row">
                                <div style="width:30px">
                                    <i class="material-icons">sms</i>
                                </div>
                                <div class="message-text">
                                    @msgtext[0]<span class="store-details">@msgtext[1]</span>@msgtext[2]
                                </div>
                            </div>
                        </div>
                    }
                    else if (notification.Message.ToLower().Contains("$$assign$$"))
                    {
                        var Message = notification.Message.Replace("$$Assign$$", "");
                        var msgtext = Message.Split("##");
                        <div class="alert card blue lighten-4 blue-text text-darken-3">
                            <div class="row">
                                <div style="width:30px">
                                    <i class="material-icons">sms</i>
                                </div>
                                <div class="message-text">
                                    @msgtext[0]<span class="store-details">@msgtext[1]</span>@msgtext[2]
                                </div>
                            </div>
                        </div>
                    }
                }
            }
            else
            {
                <div class="alert card purple lighten-4 purple-text text-darken-3">
                    <div class="row">
                        <div style="width:30px">
                            <i class="material-icons">sms</i>
                        </div>
                        <div class="message-text">
                            You do not have any notification. Have a great day.
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>

@code {
    protected override async Task OnInitializedAsync()
    {
        Core.NotificationCount = Core.NotificationsList.Where(x => x.IsNotified == false).Count();
        await NotifyHttpRepository.UpdateNotifiedTimeAsync();
        StateHasChanged();
    }
}
